@font-face {
  font-family: 'Roboto Light';
  src: url("fonts/Roboto-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Signika Light';
  src: url("fonts/Signika-Light.otf") format("truetype"); }

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Light';
  font-weight: 300;
  background-color: whitesmoke;
  color: rgba(47, 41, 44, 0.9); }

a, a:hover, a:visited {
  text-decoration: none;
  color: whitesmoke;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease; }

a:hover {
  color: #be97c7; }

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.content * {
  position: relative; }

.header {
  height: 50px;
  background-color: rgba(47, 41, 44, 0.9);
  background: url("../img/fractal.jpg") bottom center no-repeat;
  background-size: cover;
  color: rgba(0, 0, 0, 0.5); }

.about {
  width: 500px;
  margin: 100px auto;
  color: rgba(47, 41, 44, 0.9); }

h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Signika Light';
  letter-spacing: 2px;
  font-size: 24px;
  line-height: 30px; }

.skills {
  padding: 20px;
  background-color: rgba(47, 41, 44, 0.9);
  color: whitesmoke; }
  .skills .col {
    position: relative;
    float: left;
    width: 46%;
    padding: 0px 2%; }
  .skills .col:nth-child(1) {
    text-align: right; }
  .skills .col:nth-child(2) {
    text-align: left; }
  .skills .title {
    width: 100%;
    font-family: 'Signika Light';
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 0;
    padding-bottom: 5px;
    color: rgba(255, 255, 255, 0.3); }
  .skills .category {
    margin-bottom: 20px; }
    .skills .category .items {
      display: block;
      font-size: 14px;
      line-height: 20px;
      text-align: right;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .skills .category .items .circle {
        display: inline-block;
        margin: 2px;
        /*
        height:10px;
        width:10px;
        @include border-radius(5px);
        */
        height: 7px;
        width: 7px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: rgba(0, 0, 0, 0.5); }
      .skills .category .items .circle.fill {
        background-color: #be97c7; }
      .skills .category .items .circle:nth-child(1) {
        margin-left: 10px; }
      .skills .category .items .circle:nth-child(5) {
        margin-right: 10px; }
    .skills .category .items:hover .circle {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      width: 12px;
      margin: 0;
      margin-left: -4px; }
    .skills .category .items:hover {
      margin-right: 40px; }
  .skills .col:nth-child(2) .items, .skills .col:nth-child(2) .proficiency {
    text-align: right; }
  .skills .col:nth-child(3) .items {
    text-align: left; }
