
@font-face {
  font-family: 'Roboto Light';
  src: url('fonts/Roboto-Light.ttf')  format('truetype')
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf')  format('truetype')
}

@font-face {
	font-family: 'Signika Light';
  	src: url('fonts/Signika-Light.otf')  format('truetype')

}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin transition($transition) {
  -webkit-transition: $transition;
	 -moz-transition: $transition;
	  -ms-transition: $transition;
	   -o-transition: $transition;
		  transition: $transition;	
}
@mixin transform($t) {
  -webkit-transform: $t;
	 -moz-transform: $t;
	  -ms-transform: $t;
	   -o-transform: $t;
		  transform: $t;	
}

$light: rgba(245,245,245,1);
$dark: rgba(45,45,45,0.9);
$c1: rgba(83,234,202,1);
$c2: rgba(83,234,202,.6);
$c3: rgba(83,234,202,.6);
$c4: rgba(4,123,126,.6);
$c5: rgba(43,71,99,.8);


body, html {
	padding:0;
	margin:0;
	font-family:'Roboto Light';
	font-weight:300;
	background-color:$light;
	color:$dark;
}

a, a:hover, a:visited {
	text-decoration:none;
	color:$light;
 	-webkit-transition:0.5s all ease;
    transition:0.5s all ease;
}
a:hover {
	color:$c1;
}


.content {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.content * {
	position:relative;
}
.header {
	padding:100px 0px;
	background-color:$dark;
	background:url('../img/fractal.png') bottom center no-repeat;
	background-size:cover;
	color:rgba(0,0,0,0.5);
	text-align:center;
	text-transform:uppercase;
	font-family:'Signika Light';
	letter-spacing:2px;
	font-size:24px;
	line-height:30px;
}
.about {
	width:500px;
	margin:100px auto;
	color:$dark;
}
.skills {
	padding:20px;
	background-color:$dark;
	color:$light;

	.col {
		position:relative;
		float:left;
		width:48%;
		padding:0px 1%;
	}
	.col:nth-child(1) {
		text-align:right;
	}
	.col:nth-child(2) {
		text-align:left;
	}

	.title {
		width:100%;
		font-family:'Signika Light';
		text-transform:uppercase;
		letter-spacing:2px;
		padding:20px 0;
		padding-bottom:5px;
		color:rgba(255,255,255,0.3);
	}

	
	.category {
		margin-bottom:20px;

		.items {
			position:relative;
			float:left;
			font-size:14px;
			line-height:20px;
			text-align:right;
		}
		.divider {
			position:relative;
			float:left;
		}
		.proficiency {
			position:relative;
			float:left;
			line-height:20px;
			width:100px;
			.circle {
				display:inline-block;
				margin:2px;
				height:10px;
				width:10px;
				@include border-radius(5px);
				background-color:rgba(0,0,0,0.5);
			}
			.circle.fill {
				background-color:$c1;
			}
		}
	}
	.col:nth-child(1) .items, .col:nth-child(1) .proficiency {
		float:right;
		text-align:right;
	}
	.col:nth-child(2) .items {
		text-align:left;
	}


}